/*Default CSS layout for narrow screens*/

@media (max-width: 480px) {
  /*CSS for medium width screens*/
    .question-section{
   overflow-y: scroll;  
}
    .game-container{
           display: flex; 
        }
    .hangman-image{
        width: 100%;
    }
    .input-area{
        font-size: 0.9em;
    }
    .input-area p{
        padding: 0 1em 0 0;
    }
    
    h1{
        font-size: 1.5em;
        
    }
    .game-container{
        display: block;
    }
    
    .game-start-button, .rules{
        font-size: 1.4em;
    }
    
    .hangman-image-section{
        width: 100%;
        margin: 0 auto;
    }
    
    .input-area{
        width: 100%;
    }
}



@media (max-width: 800px) {
  /*CSS for wide screens*/
       .question-section{
   overflow-y: scroll;  
}
    .game-container{
           display: flex; 
        }
    .hangman-image{
        width: 100%;
    }
    .input-area{
        font-size: 0.9em;
    }
    .input-area p{
        padding: 0 1em 0 0;
    }
    
    h1{
        font-size: 1.5em;
        
    }
    .game-container{
        display: block;
    }
    
    .game-start-button, .rules{
        font-size: 1.4em;
    }
}
    
@media (max-width: 1000px) {
  /*CSS for wide screens*/
.question-section{
    
   overflow-y: scroll;

    
}
}
